In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib as pltly

In [2]:
money = pd.read_csv('investments_VC.csv', delimiter = ',')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb0 in position 16: invalid start byte

Argh. So what's the deal here...?

In [3]:
money = pd.read_excel('investments_VC.xlsx')

Double argh. I'm not connected so I'll have to install this dependency later. (Got it 3/13/2020)

In [4]:
money.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  0 non-null      float64
 1   Unnamed: 1  3 non-null      object
 2   Unnamed: 2  2 non-null      object
 3   Unnamed: 3  2 non-null      object
dtypes: float64(1), object(3)
memory usage: 416.0+ bytes

In [5]:
money

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,NaN,NaN,NaN
1,NaN,この書類は Numbers から書き出されました。各表は Excel ワークシート に変換...,NaN,NaN
2,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN
5,NaN,Numbers シート名,Numbers 表名,Excel ワークシート名
6,NaN,NaN,NaN,NaN
7,NaN,シート 1,NaN,NaN
8,NaN,NaN,表 1,シート 1 - 表 1